#listEditArticles.vBox
  %h4.title= t('lists.edit.articles')
  #availableArticles
    %ul#articleList
      = render :partial => "lists/article", :collection => @articles, :locals => { :new_item => @item }
