- if @list.errors.any?
  #errorExplanation
    %h2= "#{pluralize(@list.errors.count, 'error')} prohibited this user from being saved:"
    %ul
    - @list.errors.full_messages.each do |msg|
      %li= msg
