.pageTitle
  %h3.inline.sectionTitle= t '.title', :name => @list.name
#editListFormContainer.contentWrapper
  = render 'form'
  %span#loaderIndicator.inline.itemLoader{ :style => "display: none;" }
    =image_tag 'loader.gif'
  .hBox
    - unless @list.new_record?
      = render :partial => 'lists/items'
      = render :partial => 'lists/available_articles'

#listEditFooter
