%h3.inline.sectionTitle= t('.title')
%span= link_to t('.new'), new_list_path

#listsContainer
  %table#listsList
    %tbody
      - for list in @lists
        %tr{ :class => cycle(:odd, :even) }
          %td.listInfo
            =render :partial => "lists/list_info", :locals => {:list => list}
