- content_for :title do
  Tus listas

%ul#lists
  - @lists.each do |list|
    %li
      %span.counter= list.items.size
      = link_to list.name, list

%a.button#add-list{ :href => new_list_path } Nueva lista
