-#.appContainer
.pageTitle
  %h3.sectionTitle
    =t('.title')
    &nbsp;
    = link_to t('.new'), new_list_path, :class => "button"
  .actionTitle
    .actionHeader= t('application.actions.clone').upcase
    .actionHeader= t('application.actions.edit').upcase
    .actionHeader.last= t('application.actions.destroy').upcase

#listsContainer
  - for list in @lists
    =render :partial => "lists/list_info", :locals => {:list => list}
