-#.appContainer
.pageTitle
  %h3.sectionTitle
    =t('.title')
    &nbsp;
    = link_to t('.new'), new_list_path, :class => "button"
  -#%span#newList.actions
    = link_to image_tag('add.png', :alt => t('.new'), :title => t('.new')), new_list_path

#listsContainer
  %table#listsList.appList{ :cellspacing => 0 }
    %tbody
      - for list in @lists
        %tr{ :class => cycle(:odd, :even) }
          %td.listInfo
            =render :partial => "lists/list_info", :locals => {:list => list}
