<%  if @article.errors.any? %>
  $("#flashError").html("<div id='errorExplanation'><ul id='errors'/>");
  <% @article.errors.full_messages.each do |msg| -%>
    $("#errorExplanation #errors").append("<li><%= msg %></li>");
  <% end %>
<% else %>
  $("#itemsList #items").append("<%= sanitize_partial(render(:partial => "lists/item", :locals => { :item => @item })) -%>");
  $("#listEditArticles #articleList").append("<%= sanitize_partial(render(:partial => "articles/article", :locals => { :article => @item.article })) -%>");
<% end %>
