#menu
  position: relative
  width: 75%
  display: inline-block
  //background-color: $menu_bg_color
  text-align: left
  height: 30px
  padding: 0px 1% 0px 1%
  +border-radius-top($border_radius)

  .menuItem
    display: inline-block
    font-size: 0.8em
    padding: 5px 4px 0px 4px
    height: 23px
    cursor: pointer
    min-width: $menu_item_width
    text-align: center
    background-color: $secondary_bg_color
    color: $light_font_color
    +border-radius-top($border_radius)

    &.selected, &:hover
      +gradient-bg($menu_item_gradient_from, $menu_item_grandient_to)
      //background-color: $menu_selected_bg_color
      a
        color: $dark_font_color

    //&.selected
      //border-bottom: solid 2px $menu_highlite_color
      //font-weight: bold

    a
      position: relative
      text-decoration: none
      color: $light_font_color
      padding-top: -5px
      font-weight: bold

