#menu
  position: relative
  width: 75%
  display: inline-block
  //background-color: $menu_bg_color
  text-align: left
  height: 30px
  padding: 0px 1% 0px 1%
  +border-radius-top($default-radius)

  .menuItem
    display: inline-block
    font-size: 0.8em
    padding: 5px 4px 0px 4px
    height: 24px
    min-height: 24px
    cursor: pointer
    min-width: $menu_item_width
    text-align: center
    +gradient-bg($title_bg_gradient_from, $title_bg_gradient_to)
    color: $light_font_color
    +border-radius-top($default-radius)

    &.selected, &:hover
      color: $dark_font_color
      font-weight: bold
      +gradient-bg($menu_item_gradient_from, $menu_item_grandient_to)
      a
        color: $dark_font_color


    a
      position: relative
      text-decoration: none
      color: $light_font_color
      padding-top: -5px
      font-weight: bold
      display: block
      width: 100%
      height: 100%

