$secondary_bg_color: #453C2B
$separating_border_color: red
$light_font_color: #F1D073
$lighter_font_color: #fff
$dark_font_color: #3C3228
$top_bar_height: 25px



//old colors
$cancel_bg_color: #B10002

$body_bg_color: #E8E4DF
$body_font_color: #5A3320

$menu_bg_color: #BB8261
$menu_highlite_color: #5A3320
$menu_selected_bg_color: #CCC1A3
$menu_selected_color: #5A3320

$list_odd_bg_color: #F7EEB1
$list_even_bg_color: #DDC488
$list_font_color: #4E2C1B

$page_title_bg_color: #CCC1A3
$page_title_color: #5A3320

$button_bg_color: #889854
$button_font_color: #F6F6F6

$border_radius: 7px
