$secondary_bg_color: #453C2B
$separating_border_color: red
$light_font_color: #F1D073
$lighter_font_color: #fff
$dark_font_color: #3C3228
$top_bar_height: 25px
$body_bg_gradient_from: #FFF7FF
$body_bg_gradient_to: #F6D67F
$alternative_bg_color: #DEE6B3
$app_container_bg_color: #F1D073

//menu
$menu_item_gradient_from: #A79155
$menu_item_grandient_to: #F1D073
$menu_item_width: 116px

//headers
$title_bg_gradient_from: #443B2C
$title_bg_gradient_to: #1C171D

//buttons
$button_bg_gradient_from: #8AC93C
$button_bg_gradient_to: #087138

//footer
$footer_bg_gradient_from: #423B29
$footer_bg_gradient_to: #292420

//lists
$list_odd_bg_color: #F2F2F2
$list_even_bg_color: white
$list_font_color: #4E2C1B
$number_bg_gradient_from: white
$number_bg_gradient_to: #D6D6D6

//old colors
$cancel_bg_color: #B10002

$body_bg_color: #E8E4DF
$body_font_color: #5A3320

$menu_bg_color: #BB8261
$menu_highlite_color: #5A3320
$menu_selected_bg_color: #CCC1A3
$menu_selected_color: #5A3320

$edit_forms_bg_gradient_from: #F9E9C5
$edit_forms_bg_gradient_to: #FAF1C6

$page_title_bg_color: #CCC1A3
$page_title_color: #5A3320

$button_bg_color: #889854
$button_font_color: #F6F6F6

$border_radius: 7px

$flash_notice_color: #326B43
$flash_notice_border_color: green
$flash_notice_bg_color: #CCFFA4

$flash_error_color: #6B0000
$flash_error_border_color: red
$flash_error_bg_color: #FF9694
