@import "mixins"

html
  height: 100%
  margin: 0px
  padding: 0px

body
  margin: 0px
  padding: 10px 5px
  font:
    family: sans-serif
  +vertical-linear-gradient(#bdbdbd, #8a8080)

$default-radius = 0.5em
$elements-background = #fff

h1
  font-size: 1.3em
  background: $elements-background
  margin: 0px 0px 0.5em
  padding: 0.25em
  text-align: center
  border: 1px solid black
  +border-radius($default-radius)

ul
  background: transparent
  margin: 0px 0px 0.5em
  padding: 0px
  list-style: none

li
  background: $elements-background
  padding: 0px
  border: 1px solid black
  border-top: none
  height: 2.5em

  &:first-child
    border-top: 1px solid black
    +border-radius-top($default-radius)

  &:last-child
    +border-radius-bottom($default-radius)

  a
    display: block
    padding: 0px 0.5em
    width: 100%
    height: 100%
    text-decoration: none
    color: #000
    &:visited
      color: #000

  span.counter
    float: right
    margin-right: 0.5em
    font-size: 1.2em

ul#lists li
  line-height: 2.5em

/* http://robots.thoughtbot.com/post/2718077289/make-css3-buttons-like-a-boss
a.button
  +vertical-linear-gradient(#52a8e8, #377ad0)
  border-top: 1px solid #4081af
  border-right: 1px solid #2e69a3
  border-bottom: 1px solid #20559a
  border-left: 1px solid #2e69a3
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3
  text-shadow: 0 -1px 1px #3275bc
  +border-radius(16px)
  display: block
  text:
    decoration: none
    align: center
  padding: 0.5em 0px
  color: #fff