html {
  height: 100%;
  margin: 0px;
  padding: 0px; }

body {
  margin: 0px;
  padding: 10px 5px;
  font-family: sans-serif;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bdbdbd), to(#8a8080)); }

h1 {
  font-size: 1.3em;
  background: white;
  margin: 0px 0px 0.5em;
  padding: 0.25em;
  text-align: center;
  border: 1px solid black;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -webkit-background-clip: padding-box; }

ul {
  background: transparent;
  margin: 0px 0px 0.5em;
  padding: 0px;
  list-style: none; }

li {
  background: white;
  padding: 0px;
  border: 1px solid black;
  border-top: none;
  height: 2.5em; }
  li:first-child {
    border-top: 1px solid black;
    -moz-border-radius-topright: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    -webkit-background-clip: padding-box; }
  li:last-child {
    -moz-border-radius-bottomright: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    -webkit-background-clip: padding-box; }
  li a {
    display: block;
    padding: 0px 0.5em;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black; }
    li a:visited {
      color: black; }
  li span.counter {
    float: right;
    margin-right: 0.5em;
    font-size: 1.2em; }

ul#lists li {
  line-height: 2.5em; }

ul#items li {
  line-height: 2.5em;
  position: relative; }
  ul#items li strong {
    display: block;
    font-size: 1.1em; }
  ul#items li span.quantity {
    position: absolute;
    left: 1em;
    bottom: -1.5em;
    font-size: 0.5em; }
  ul#items li span.total {
    position: absolute;
    top: 0px;
    right: 0.5em;
    font-size: 1.2em;
    line-height: 2.1em; }

ul li a#add {
  text-align: center;
  color: white;
  padding: 0;
  -moz-border-radius-bottomright: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -webkit-background-clip: padding-box;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#54bd0d), to(#418a1d)); }

/* http://robots.thoughtbot.com/post/2718077289/make-css3-buttons-like-a-boss */
a.button, button {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  text-shadow: 0 -1px 1px #3275bc;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  -webkit-background-clip: padding-box;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 0.5em 0px;
  color: white;
  font-size: 1em; }

a#add-list {
  display: block; }

form {
  background: white;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -webkit-background-clip: padding-box;
  border: 1px solid black;
  padding: 0.5em;
  margin-bottom: 1em; }
  form label {
    display: block;
    margin-bottom: 0.5em; }
    form label span {
      display: block; }
    form label select, form label input {
      font-size: 1.2em; }
    form label select {
      width: 100%; }
    form label input:not([type="checkbox"]) {
      border: 1px solid black;
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box; }
    form label input[type=number] {
      text-align: right; }
    form label.checkbox {
      cursor: pointer; }
      form label.checkbox span {
        margin-left: 0.5em;
        display: inline-block; }
    form label input[type=checkbox] {
      display: inline-block;
      width: 1em;
      height: 1em;
      float: left;
      margin: 0px;
      padding: 0px; }
  form .buttons {
    text-align: center; }
    form .buttons button, form .buttons a.button {
      width: 40%; }
    form .buttons button[type=submit] {
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#54bd0d), to(#418a1d));
      -webkit-box-shadow: inset 0 1px 0 0 #54bd0d, 0 1px 2px 0 #418a1d;
      border: none; }
    form .buttons a.cancel, form .buttons button.cancel {
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#72969c), to(#6f8d9c));
      -webkit-box-shadow: inset 0 1px 0 0 #72969c, 0 1px 2px 0 #6f8d9c;
      border: none; }
    form .buttons a.destroy, form .buttons button.destroy {
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bd2020), to(#8a1717));
      -webkit-box-shadow: inset 0 1px 0 0 #bd2020, 0 1px 2px 0 #8a1717;
      border: none; }

#total {
  background: white;
  padding: 0.5em;
  margin: 0px 0px 0.5em;
  border: 1px solid black;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -webkit-background-clip: padding-box;
  font-size: 1.5em; }
  #total .amount {
    float: right; }

footer {
  display: block; }
  footer nav {
    display: block;
    text-align: left; }
    footer nav a {
      display: inline-block;
      padding: 0.25em 0.5em;
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#333333));
      color: white;
      height: 2.5em;
      line-height: 2.5em;
      text-decoration: none;
      -moz-border-radius: 0.25em;
      -webkit-border-radius: 0.25em;
      -webkit-background-clip: padding-box; }

.errors li {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bd2020), to(#8a1717));
  color: white;
  text-align: left;
  height: auto;
  font-size: 0.9em;
  line-height: 1.5em;
  padding-left: 0.5em; }

#flash-notice {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7f72b), to(#e6d810));
  color: black;
  text-align: left;
  height: auto;
  font-size: 0.9em;
  line-height: 1.5em;
  padding-left: 0.5em; }

#flash-error, #flash-alert {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bd2020), to(#8a1717));
  color: white;
  text-align: left;
  height: auto;
  font-size: 0.9em;
  line-height: 1.5em;
  padding-left: 0.5em; }

#logout {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bd2020), to(#8a1717));
  color: white;
  float: right; }
