/* line 1, sass/_common.sass */
.odd {
  background-color: #f2f2f2;
}

/* line 4, sass/_common.sass */
.even {
  background-color: white;
}

/* line 7, sass/_common.sass */
.hidden {
  display: none;
}

/* line 1, sass/_home.sass */
#homeContainer {
  vertical-align: top;
  background: url("/images/home_bg.png") repeat-x;
  background-height: 100%;
  text-align: center;
}
/* line 7, sass/_home.sass */
#homeContainer h1 {
  text-align: center;
}
/* line 10, sass/_home.sass */
#homeContainer #loginForm {
  display: inline-block;
  text-align: center;
  width: 330px;
  height: 184px;
  margin: 15px;
  border: solid 1px #aca9a0;
  padding-top: 30px;
  font-size: 0.9em;
  color: #4f4f4f;
  background-color: #f2f2f0;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f2f2f0, endColorstr=#b3b3b3);
  background-image: -moz-linear-gradient(center top, #f2f2f0, #b3b3b3);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f0), to(#b3b3b3));
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -webkit-background-clip: padding-box;
  -moz-box-shadow: 0 0 20px #888888;
  -webkit-box-shadow: 0 0 20px #888888;
  box-shadow: 0 0 20px #888888;
}
/* line 24, sass/_home.sass */
#homeContainer #loginForm input[type='email'], #homeContainer #loginForm input[type='password'] {
  width: 90%;
}
/* line 27, sass/_home.sass */
#homeContainer #loginForm #login {
  background-color: #b3b3b3;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#b3b3b3, endColorstr=#f2f2f0);
  background-image: -moz-linear-gradient(center top, #b3b3b3, #f2f2f0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b3b3b3), to(#f2f2f0));
  color: #4f4f4f;
}
/* line 31, sass/_home.sass */
#homeContainer #loginForm #rememberBox {
  line-height: 4em;
}

/* line 1, sass/_menu.sass */
#menu {
  position: relative;
  width: 75%;
  display: inline-block;
  text-align: left;
  height: 30px;
  padding: 0px 1% 0px 1%;
  -moz-border-radius-topright: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -webkit-background-clip: padding-box;
}
/* line 11, sass/_menu.sass */
#menu .menuItem {
  display: inline-block;
  font-size: 0.8em;
  padding: 5px 4px 0px 4px;
  height: 24px;
  min-height: 24px;
  cursor: pointer;
  min-width: 116px;
  text-align: center;
  background-color: #443b2c;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#443b2c, endColorstr=#1c171d);
  background-image: -moz-linear-gradient(center top, #443b2c, #1c171d);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#443b2c), to(#1c171d));
  color: #f1d073;
  -moz-border-radius-topright: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -webkit-background-clip: padding-box;
}
/* line 24, sass/_menu.sass */
#menu .menuItem.selected, #menu .menuItem:hover {
  color: #3c3228;
  font-weight: bold;
  background-color: #a79155;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a79155, endColorstr=#f1d073);
  background-image: -moz-linear-gradient(center top, #a79155, #f1d073);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a79155), to(#f1d073));
}
/* line 28, sass/_menu.sass */
#menu .menuItem.selected a, #menu .menuItem:hover a {
  color: #3c3228;
}
/* line 32, sass/_menu.sass */
#menu .menuItem a {
  position: relative;
  text-decoration: none;
  color: #f1d073;
  padding-top: -5px;
  font-weight: bold;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 2, sass/_lists.sass */
#newList.actions a {
  color: green;
  font-weight: bold;
}

/* line 7, sass/_lists.sass */
#listsContainer .listDetailContainer {
  padding: 0.2em 0.5em;
}
/* line 10, sass/_lists.sass */
#listsContainer .listDetailContainer .listName {
  height: 1.5em;
  display: inline-block;
  clear: both;
  font-size: 0.8em;
  width: 73%;
  max-width: 73%;
  min-width: 73%;
  padding: 0 0.2em;
}
/* line 20, sass/_lists.sass */
#listsContainer .listDetailContainer .listActions {
  text-align: right;
  display: inline-block;
}
/* line 24, sass/_lists.sass */
#listsContainer .listDetailContainer .listActions .actionHeader {
  position: relative;
  display: inline-block;
  width: 73px;
  min-width: 73px;
  max-width: 73px;
  color: #f1d073;
  border-right: solid 1px #f1d073;
  text-align: center;
}
/* line 34, sass/_lists.sass */
#listsContainer .listDetailContainer .listActions .last {
  border-right: none !important;
}
/* line 37, sass/_lists.sass */
#listsContainer .listDetailContainer .listItemCount {
  font-weight: bold;
}

/* line 41, sass/_lists.sass */
#listFooter {
  min-height: 15px;
  max-height: 15px;
  background-color: #1c171d;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#1c171d, endColorstr=#443b2c);
  background-image: -moz-linear-gradient(center top, #1c171d, #443b2c);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1c171d), to(#443b2c));
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-background-clip: padding-box;
}

/* line 49, sass/_lists.sass */
#listsContainer #listsList, #listsContainer #articlesList, #articlesContainer #listsList, #articlesContainer #articlesList {
  width: 100%;
}
/* line 52, sass/_lists.sass */
#listsContainer #listsList td.wide, #listsContainer #articlesList td.wide, #articlesContainer #listsList td.wide, #articlesContainer #articlesList td.wide {
  width: 100%;
}
/* line 55, sass/_lists.sass */
#listsContainer #listsList .listInfo, #listsContainer #articlesList .listInfo, #articlesContainer #listsList .listInfo, #articlesContainer #articlesList .listInfo {
  width: 100%;
  height: 4em;
  color: #4e2c1b;
  padding: 0.5em 0 0.5em 0;
}
/* line 64, sass/_lists.sass */
#listsContainer #articlesList td, #articlesContainer #articlesList td {
  padding: 1em;
}

/* line 67, sass/_lists.sass */
.appList {
  -moz-border-radius-bottomright: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -webkit-background-clip: padding-box;
}

/* line 70, sass/_lists.sass */
.cloneButton {
  position: relative;
  background: url("/images/copy.png") repeat scroll 0 0 transparent !important;
  min-width: 24px;
  min-height: 24px;
  width: 24px;
  height: 24px;
  border: none !important;
  cursor: pointer !important;
}

/* line 80, sass/_lists.sass */
.listCloneForm {
  position: relative;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  vertical-align: top;
}

/* line 1, sass/_footer.sass */
#footer {
  border-top: solid 1px red;
  display: block;
  color: white;
  font-weight: bold;
}
/* line 7, sass/_footer.sass */
#footer .brand, #footer .funky {
  font-size: 0.7em;
  display: inline-block;
}
/* line 11, sass/_footer.sass */
#footer .funky {
  color: red;
}
/* line 14, sass/_footer.sass */
#footer #brandWrapper {
  width: 87%;
  text-align: right;
  padding-top: 10px;
}

@font-face {
  font-family: DomesticManners;
  src: url(DomesticManners.ttf) format("truetype");
}

/* line 13, sass/shop_list.sass */
a img {
  position: relative;
  border: none;
  top: 0px;
}

/* line 18, sass/shop_list.sass */
.cancel {
  background-color: #b10002 !important;
  border-color: #b10002 !important;
}

/* line 22, sass/shop_list.sass */
.cancelButton {
  background: url("/images/delete.png") no-repeat scroll !important;
  width: 16px !important;
  height: 16px !important;
  border: none !important;
  color: red;
  padding: 5px;
  font-size: 0px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

/* line 34, sass/shop_list.sass */
.formFooter {
  position: relative;
  display: block;
  padding: 0.5em;
  text-align: right;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -webkit-background-clip: padding-box;
  background-color: #443b2c;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#443b2c, endColorstr=#1c171d);
  background-image: -moz-linear-gradient(center top, #443b2c, #1c171d);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#443b2c), to(#1c171d));
}

/* line 42, sass/shop_list.sass */
#new_feedback {
  position: relative;
  overflow: hidden;
  padding: 0.5em;
  width: 50%;
}
/* line 48, sass/shop_list.sass */
#new_feedback textarea {
  position: relative;
  width: 98%;
}

/* line 52, sass/shop_list.sass */
.feedbackPopup {
  display: none;
  width: 50%;
  background-color: #fffbf8;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fffbf8, endColorstr=#f1d188);
  background-image: -moz-linear-gradient(center top, #fffbf8, #f1d188);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fffbf8), to(#f1d188));
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -webkit-background-clip: padding-box;
}
/* line 58, sass/shop_list.sass */
.feedbackPopup form {
  width: 98% !important;
}
/* line 61, sass/shop_list.sass */
.feedbackPopup .close {
  cursor: pointer;
  float: right;
}

/* line 65, sass/shop_list.sass */
#topBar {
  background-color: #453c2b;
  height: 25px;
  border-bottom: 1px solid red;
}
/* line 71, sass/shop_list.sass */
#topBar .feedback {
  position: relative;
  display: inline-block;
  min-width: 18%;
  color: #f1d073;
  font-size: 0.8em;
}
/* line 79, sass/shop_list.sass */
#topBar .container {
  text-align: left;
}
/* line 82, sass/shop_list.sass */
#topBar form {
  position: relative;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  font-size: 0.7em;
  line-height: 0.7em;
  color: white;
  width: 40%;
  text-align: right;
}
/* line 94, sass/shop_list.sass */
#topBar input[type='text'] {
  border: solid 1px #453c2b;
  background-color: #f1d073;
  color: #453c2b;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
}
/* line 100, sass/shop_list.sass */
#topBar #userMenu {
  font-size: 0.7em;
  display: inline-block;
  text-align: left;
  width: 40%;
  color: white;
}
/* line 107, sass/shop_list.sass */
#topBar #userMenu a {
  color: #f1d073;
}

/* line 111, sass/shop_list.sass */
.appContainer {
  -moz-border-radius-topright: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -webkit-background-clip: padding-box;
  background-color: #f1d073;
}

/* line 115, sass/shop_list.sass */
html {
  height: 100%;
  background-color: #423b29;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#423b29, endColorstr=#292420);
  background-image: -moz-linear-gradient(center top, #423b29, #292420);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#423b29), to(#292420));
}

/* line 119, sass/shop_list.sass */
body {
  font-size: 1em !important;
}

/* line 123, sass/shop_list.sass */
.contentWrapper {
  background-color: #fffbf8;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fffbf8, endColorstr=#f1d188);
  background-image: -moz-linear-gradient(center top, #fffbf8, #f1d188);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fffbf8), to(#f1d188));
  padding-bottom: 10px;
}

/* line 128, sass/shop_list.sass */
.subForm {
  background-color: #dee6b3;
  padding: 0.3em;
}

/* line 132, sass/shop_list.sass */
body {
  font-family: Verdana, Tahoma, Arial;
  font-size: 12pt;
}
/* line 136, sass/shop_list.sass */
body a.button {
  padding: 0.3em 0.8em !important;
  text-decoration: none;
}
/* line 141, sass/shop_list.sass */
body input[type='submit'], body input[type='button'], body button, body a.button {
  font-size: 1em;
  font-weight: bold;
  padding: 5px;
  background-color: #889854;
  color: #f6f6f6;
  border: solid 1px #889854;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  background-color: #8ac93c;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#8ac93c, endColorstr=#087138);
  background-image: -moz-linear-gradient(center top, #8ac93c, #087138);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8ac93c), to(#087138));
}
/* line 152, sass/shop_list.sass */
body input[type='text'], body input[type='password'], body input[type='email'] {
  background-color: white;
  font-size: 1em;
  font-weight: bold;
  border: solid 1px #cccccc;
  width: 41%;
  padding: 3px;
  margin: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
}
/* line 162, sass/shop_list.sass */
body #content {
  width: 98%;
  height: 100%;
  background-color: #f1d073;
  display: inline-block;
  text-align: left;
  padding: 1%;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -webkit-background-clip: padding-box;
}
/* line 172, sass/shop_list.sass */
body #itemsList {
  position: relative;
  padding: 5px;
}
/* line 176, sass/shop_list.sass */
body #itemsList .listHead {
  padding-bottom: 10px;
}
/* line 179, sass/shop_list.sass */
body #itemsList .lastPrice {
  width: 20%;
}
/* line 182, sass/shop_list.sass */
body #itemsList .newPrice {
  width: 25%;
}
/* line 184, sass/shop_list.sass */
body #itemsList .newPrice input[type='text'] {
  width: 85%;
}
/* line 187, sass/shop_list.sass */
body #itemsList #items {
  width: 100%;
  display: inline-block;
  min-height: 10px;
  height: auto;
}
/* line 193, sass/shop_list.sass */
body #itemsList #items .listItem {
  vertical-align: middle;
  padding: 5px 0px 5px 0px;
}
/* line 199, sass/shop_list.sass */
body #listForm .title, body #articleForm .title, body #listEditArticles .title, body #listEditItems .title, body .formContainer .title {
  margin: 0px;
  font-weight: bold;
}
/* line 203, sass/shop_list.sass */
body #listForm {
  padding-bottom: 10px;
}
/* line 207, sass/shop_list.sass */
body #articleForm .price {
  width: 3.2em;
  text-align: right;
}
/* line 212, sass/shop_list.sass */
body #listEditItems, body #listEditArticles, body #availableArticles {
  font-size: 0.9em !important;
}
/* line 214, sass/shop_list.sass */
body #listEditItems number, body #listEditArticles number, body #availableArticles number {
  display: inline-block;
  height: 2.5em;
  padding-bottom: 2px;
  position: relative;
  top: 0px;
}
/* line 221, sass/shop_list.sass */
body #listEditItems .counter, body #listEditArticles .counter, body #availableArticles .counter {
  max-width: 15%;
  min-width: 15%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 1.3em;
  padding: 1px 1px 2px;
  line-height: 1.5em;
  border: solid 1px gray;
  font-size: 1.1em !important;
  text-align: right;
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=white, endColorstr=#d6d6d6);
  background-image: -moz-linear-gradient(center top, white, #d6d6d6);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#d6d6d6));
}
/* line 235, sass/shop_list.sass */
body #listEditItems input.counter, body #listEditArticles input.counter, body #availableArticles input.counter {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
}
/* line 238, sass/shop_list.sass */
body #listEditItems ul, body #listEditArticles ul, body #availableArticles ul {
  font-size: 0.9em;
  margin: 0;
}
/* line 241, sass/shop_list.sass */
body #listEditItems ul li, body #listEditArticles ul li, body #availableArticles ul li {
  line-height: 2.5em;
  vertical-align: middle;
}
/* line 245, sass/shop_list.sass */
body #listEditItems ul .itemQuantity, body #listEditArticles ul .itemQuantity, body #availableArticles ul .itemQuantity {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 2em;
  max-width: 2em;
}
/* line 252, sass/shop_list.sass */
body #listEditItems ul .articleName, body #listEditArticles ul .articleName, body #availableArticles ul .articleName {
  min-width: 57%;
  max-width: 57%;
  display: inline-block;
  position: relative;
}
/* line 259, sass/shop_list.sass */
body #availableArticles input.counter {
  width: 2em;
  max-width: 2em;
  min-width: 2em;
  text-align: center;
}
/* line 266, sass/shop_list.sass */
body #availableArticles ul li {
  height: 3.3em;
  line-height: 3.3em;
  padding: 0 6px;
}
/* line 272, sass/shop_list.sass */
body #listEditArticles, body #listEditItems {
  position: relative;
  width: 49%;
  overflow: hidden;
  margin: 3px;
  background-color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
}
/* line 280, sass/shop_list.sass */
body #listEditArticles .title, body #listEditItems .title {
  color: #f1d073;
  font-size: 1em;
  font-weight: normal;
  padding: 0.5em;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-background-clip: padding-box;
  background-color: #443b2c;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#443b2c, endColorstr=#1c171d);
  background-image: -moz-linear-gradient(center top, #443b2c, #1c171d);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#443b2c), to(#1c171d));
}
/* line 289, sass/shop_list.sass */
body #listEditArticles #availableArticles, body #listEditArticles #listItems, body #listEditItems #availableArticles, body #listEditItems #listItems {
  width: 100%;
  min-width: 100%;
  height: 250px;
  overflow: auto;
}
/* line 295, sass/shop_list.sass */
body #listEditArticles #availableArticles, body #listEditItems #availableArticles {
  position: relative;
  float: right;
}
/* line 299, sass/shop_list.sass */
body #listEditArticles #availableArticles #addIcon, body #listEditItems #availableArticles #addIcon {
  position: relative;
  display: inline-block;
  top: 3px;
}
/* line 304, sass/shop_list.sass */
body #listEditArticles #availableArticles .articleName, body #listEditItems #availableArticles .articleName {
  width: 77%;
  min-width: 77%;
  max-width: 77%;
  overflow: hidden;
}
/* line 310, sass/shop_list.sass */
body #listEditArticles #availableArticles form, body #listEditItems #availableArticles form {
  position: relative;
  display: block;
  line-height: 3.3em;
  height: 3.3em;
  vertical-align: middle;
}
/* line 318, sass/shop_list.sass */
body #listEditArticles #availableArticles a.mini, body #listEditItems #availableArticles a.mini {
  position: relative;
  display: inline-block;
  width: 5em;
  max-width: 7.2em;
  line-height: 1.5em;
  vertical-align: top;
  font-size: 6pt;
  top: 5px;
}
/* line 328, sass/shop_list.sass */
body #listEditArticles #availableArticles a.mini .tiny, body #listEditItems #availableArticles a.mini .tiny {
  display: block;
}
/* line 333, sass/shop_list.sass */
body #listEditArticles #listItems .newArticle, body #listEditItems #listItems .newArticle {
  font-size: 6pt;
  display: inline-block;
  position: relative;
  padding: 0 5px;
}
/* line 339, sass/shop_list.sass */
body #listEditArticles #listItems .newArticle a.mini, body #listEditItems #listItems .newArticle a.mini {
  position: relative;
  display: inline-block;
  clear: both;
  text-align: center;
  min-height: 4em;
  vertical-align: middle;
  padding-top: 2px;
  margin: 0 3px;
}
/* line 349, sass/shop_list.sass */
body #listEditArticles #listItems .newArticle a.mini .tiny, body #listEditItems #listItems .newArticle a.mini .tiny {
  position: relative;
  line-height: 1.5em;
  max-height: 1.5em;
  text-align: center;
}
/* line 355, sass/shop_list.sass */
body #listEditArticles #listItems .newArticle .priceForm, body #listEditItems #listItems .newArticle .priceForm {
  display: none;
}
/* line 358, sass/shop_list.sass */
body #listEditArticles ul, body #listEditItems ul {
  list-style: none;
  height: 100%;
  padding-left: 0px;
  min-height: 185px;
}
/* line 364, sass/shop_list.sass */
body #listEditArticles ul li.article, body #listEditItems ul li.article {
  padding-left: 5px;
  vertical-align: middle;
  height: 30px;
}
/* line 369, sass/shop_list.sass */
body #listEditArticles ul li.article div, body #listEditItems ul li.article div {
  line-height: 36px;
  display: inline-block;
}
/* line 373, sass/shop_list.sass */
body #listEditArticles ul li.article .articleQuantity, body #listEditItems ul li.article .articleQuantity {
  width: 2em;
  line-height: 28px;
}
/* line 377, sass/shop_list.sass */
body #listEditArticles ul li.article .articleQuantity input, body #listEditItems ul li.article .articleQuantity input {
  width: 100%;
  font-size: 0.9em;
}
/* line 387, sass/shop_list.sass */
body #listEditArticles ul li.article .actions, body #listEditItems ul li.article .actions {
  text-align: right;
  width: 19%;
  line-height: 31px;
}
/* line 393, sass/shop_list.sass */
body #articleSearchFormContainer {
  position: relative;
  padding: 5px 0px;
  text-align: center;
  display: block;
  vertical-align: middle;
  width: 100%;
}
/* line 401, sass/shop_list.sass */
body #articleSearchFormContainer #query {
  position: relative;
  left: 0px;
  width: 61%;
}
/* line 406, sass/shop_list.sass */
body #articleSearchFormContainer #searchIcon {
  position: relative;
  top: 3px;
}

/* line 410, sass/shop_list.sass */
#newListFormContainer, #newArticleFormContainer {
  padding-top: 2%;
}

/* line 413, sass/shop_list.sass */
#editListFormContainer, #editUserFormContainer {
  padding: 1%;
  background-color: #f9e9c5;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f9e9c5, endColorstr=#faf1c6);
  background-image: -moz-linear-gradient(center top, #f9e9c5, #faf1c6);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9e9c5), to(#faf1c6));
}

/* line 417, sass/shop_list.sass */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

/* line 421, sass/shop_list.sass */
.hBox div {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

/* line 427, sass/shop_list.sass */
.vBox div {
  display: block;
  text-align: left;
  vertical-align: top;
}

/* line 432, sass/shop_list.sass */
.half {
  width: 49%;
  max-width: 49%;
  display: inline-block;
}

/* line 437, sass/shop_list.sass */
#newArticle, #articleSearchFormContainer {
  font-size: 0.8em;
  padding: 4px;
}
/* line 440, sass/shop_list.sass */
#newArticle .articleQuantity, #articleSearchFormContainer .articleQuantity {
  width: 2em;
  display: inline-block;
  margin: 0 3px;
}
/* line 444, sass/shop_list.sass */
#newArticle .articleQuantity input[type='text'], #articleSearchFormContainer .articleQuantity input[type='text'] {
  width: 100% !important;
}
/* line 447, sass/shop_list.sass */
#newArticle input[type="submit"], #articleSearchFormContainer input[type="submit"] {
  font-size: 1em;
  padding: 2px 5px;
}
/* line 451, sass/shop_list.sass */
#newArticle form, #articleSearchFormContainer form {
  width: 95%;
  display: inline-block;
}
/* line 455, sass/shop_list.sass */
#newArticle #addIcon, #articleSearchFormContainer #addIcon {
  position: relative;
  top: 3px;
}
/* line 460, sass/shop_list.sass */
#newArticle .field input[type='text'], #newArticle .field input[type='password'], #newArticle .field input[type='email'], #articleSearchFormContainer .field input[type='text'], #articleSearchFormContainer .field input[type='password'], #articleSearchFormContainer .field input[type='email'] {
  width: 76%;
}

/* line 463, sass/shop_list.sass */
#header {
  position: relative;
  height: 74px;
  top: 32px;
  width: 100%;
  display: inline-block;
  text-align: left;
}
/* line 472, sass/shop_list.sass */
#header #headerLogo, #header #headerTitle {
  display: inline-block;
  position: relative;
}
/* line 476, sass/shop_list.sass */
#header #headerTitle {
  font-family: "Lobster";
  font-size: 2.5em;
  width: 195px;
  color: #5d0026;
  text-align: center;
}

/* line 485, sass/shop_list.sass */
.inline {
  display: inline-block;
}

/* line 488, sass/shop_list.sass */
.sectionTitle {
  width: 73%;
  display: inline-block;
}
/* line 492, sass/shop_list.sass */
.sectionTitle a.button {
  font-size: 0.7em;
}

/* line 495, sass/shop_list.sass */
.actions {
  vertical-align: middle;
  position: relative;
  display: inline-block;
}
/* line 500, sass/shop_list.sass */
.actions * {
  position: relative;
  top: 0px;
  left: 0px;
  text-decoration: none;
}
/* line 506, sass/shop_list.sass */
.actions img {
  top: 5px !important;
}

/* line 509, sass/shop_list.sass */
.actionTitle {
  position: relative;
  display: inline-block;
}
/* line 513, sass/shop_list.sass */
.actionTitle .actionHeader {
  position: relative;
  display: inline-block;
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  height: 100%;
  color: #f1d073;
  border-right: solid 1px #f1d073;
  font-size: 0.7em;
  text-align: center;
  padding: 0 1em;
}
/* line 526, sass/shop_list.sass */
.actionTitle .last {
  border-right: none !important;
}

/* line 529, sass/shop_list.sass */
.submitter {
  cursor: pointer;
}

/* line 532, sass/shop_list.sass */
.pageTitle {
  background-color: #443b2c;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#443b2c, endColorstr=#1c171d);
  background-image: -moz-linear-gradient(center top, #443b2c, #1c171d);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#443b2c), to(#1c171d));
  padding: 0.5em;
  height: 1.5em;
  -moz-border-radius-topright: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -webkit-background-clip: padding-box;
}
/* line 537, sass/shop_list.sass */
.pageTitle h3 {
  color: #f1d073 !important;
  font-size: 1.2em;
  padding: 0 0.2em;
}

/* line 542, sass/shop_list.sass */
#listEditFooter {
  position: relative;
  display: block;
  height: 50px;
  background-color: #1c171d;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#1c171d, endColorstr=#443b2c);
  background-image: -moz-linear-gradient(center top, #1c171d, #443b2c);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1c171d), to(#443b2c));
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-background-clip: padding-box;
}

/* line 549, sass/shop_list.sass */
#flashNotice, #flashError, #flashWarning {
  position: relative;
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  border: solid 1px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -webkit-background-clip: padding-box;
}

/* line 557, sass/shop_list.sass */
#flashNotice {
  border-color: green;
  background-color: #ccffa4;
  color: #326b43;
}

/* line 562, sass/shop_list.sass */
#flashError {
  border-color: red;
  background-color: #ff9694;
  color: #6b0000;
}

/* line 567, sass/shop_list.sass */
#flashWarning {
  border-color: yellow;
  background-color: #fff398;
  color: #1c171d;
}
