<%  if @item.errors.any? %>
  $("#flashError").html("<div id='errorExplanation'><ul id='errors'/>");
  <% @item.errors.full_messages.each do |msg| -%>
    $("#errorExplanation #errors").append("<li><%= msg %></li>");
  <% end %>
<% else %>
  $("#listItems #itemList").append("<%= sanitize_partial(render(:partial => "lists/item", :locals => { :item => @item })) -%>");
  list_item = $("#availableArticles #articleList #article_<%= @item.article_id %>");

  $("#availableArticles #articleList").html("<%= sanitize_partial(render(:partial => "lists/article", :collection => @articles, :locals => {:new_item => @new_item} )) -%>");
<% end %>
