<%  if @item.errors.any? %>
  $("#flashError").html("<div id='errorExplanation'><ul id='errors'/>");
  <% @item.errors.full_messages.each do |msg| -%>
    $("#errorExplanation #errors").append("<li><%= msg %></li>");
  <% end %>
<% else %>
  var lastClass = $("#listItems #itemList li:first").attr("class");
  $("#listItems #itemList").prepend("<%= sanitize_partial(render(:partial => "lists/item", :locals => { :item => @item })) -%>");
  list_item = $("#availableArticles #articleList #article_<%= @item.article_id %>");

  $("#availableArticles #articleList").html("<%= sanitize_partial(render(:partial => "lists/article", :collection => @articles, :locals => {:new_item => @new_item} )) -%>");

  if (lastClass.indexOf('even') >= 0) {
    $("#listItems #itemList li:first").addClass("odd");
    $("#listItems #itemList li:first").removeClass("even");
  } else {
    $("#listItems #itemList li:first").addClass("even");
  }
<% end %>
